<div class="products-list">
  <app-search (searchChanged)="store.searchValueChanged($event)" />

  @if (store.loading()) {
    Loading...
  } @else {
    @for (
      productCategory of store.productsByCategories();
      track productCategory.category
    ) {
      <app-product-category
        (cartClicked)="store.addToCart($event)"
        (clicked)="store.onProductClicked($event)"
        [categoryName]="productCategory.category"
        [products]="productCategory.products"
      />
    }
  }
</div>
